body {
    margin: 0;
    overflow: hidden;
    background-image:url(textures/cloud_bg.jpg);
    background-size:cover;
    background-attachment: fixed;

}

canvas {
    display: block;
}

/* BOTH TEXT LAYERS */
#textOutline,
#textOverlay {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 40px;
    font-family: "Arial Rounded MT Bold";
    font-weight: bold;
    text-align: center;

    white-space: nowrap;

    pointer-events: none;
}

/* WHITE OUTLINE LAYER */
#textOutline {
    color: white;

    text-shadow:
        -2px -2px 0 white,
         0px -2px 0 white,
         2px -2px 0 white,
        -2px  0px 0 white,
         2px  0px 0 white,
        -2px  2px 0 white,
         0px  2px 0 white,
         2px  2px 0 white;

    z-index: 999998;
}


#textOverlay {
    background: linear-gradient(
        to top,
        #1ABAFF 0%,
        #71EAC6 100%
    );

    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;

    z-index: 999999;
}